@media (max-width: 950px) {
  #personajeTitle {
    font-size: 32px;
  }
}

@media (hover: none) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  .genderfilter:hover,
  .statusfilter:hover {
    background-color: transparent !important;
  }
  .selectedFilter {
    background: #070a06;
  }
}

@media (max-width: 620px) {
  .celu {
    display: flex;
  }
  .pc {
    display: none;
  }
  .portada {
    height: 175px;
  }
}

@media (max-width: 400px) {
  #searchText {
    width: 20%;
    min-width: 150px;
  }
  #lupaIcon {
    font-size: 16px;
  }
  .popup {
    font-size: 14px;
  }
}
